[submodule "B2R2"]
	path = B2R2
    url = https://github.com/topcue/B2R2
    branch = master
[submodule "binary-gleaner"]
	path = binary-gleaner
    url = https://github.com/topcue/binary-gleaner
    branch = main
	update = rebase
